body{
    background-image: url('facebook.jpg');

    background-repeat: no-repeat;
    background-size: cover;
}
.login{
    color: white;
    font-size: 2rem;
   

}
.createaccount{
    color:white;
    font-size: 4rem;
}
.name{
    color: white;
    font-size: 1rem;
}
.number{
    color:white;
    font-size: 1rem;
}
.dateofbirth{
    color:white;
    font-size: 1rem;
}
.gender{
    color: white;
    font-size: 1rem;
}
.password{
    color: white;
    font-size: 1rem;
}
.re-typepassword{
    color: white;
    font-size: 1rem;
}
.submit tr td{
    color:white;
    font-size:1rem;
}
.container .row{
display: flex;
margin-top: 0px;
flex-wrap: wrap;
justify-content: space-between;

min-height:900px;
align-items:start;
flex-direction:row-reverse;

}
.container .row .col{
    background: rgb(112, 112, 251) ;
    padding:20px;
    border:2px solid black;
    width:400px;
    height:650px;
   
}

